#formation {
    display: none;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    background-color: whitesmoke;
}

#display {
    font-size: 56px;
    color: red;

}

.container {
    font-family: 'Cormorant Garamond',
    serif;
    text-align: center;
    margin-top: 1%;
    font-size: 36px;
    margin-bottom: 5%;
}

.navbar {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: red;
}



