#formation {
    display: none;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    font-size: 24pt;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10%;
    font-size: 12pt;
}

